.action .primary .tocart{
    width: 28%;
    background: #0c0d0e;
}


product-addtocart-button{

    width: 50%;
    background: #0c0d0e;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 3px;
    background:#0c0d0e;
}
.field .qty{
    display:inline-block;float:right;margin-bottom:25px
}

.action .primary .tocart{
    width: 50%;background: #0c0d0e;padding-left: 3px;padding-right: 3px;padding-top: 4px;padding-bottom: 3px;
}
.copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .right_copy{
        float:left
    }

    .left_copy{
        float:right
    }
}

.block .newsletter{
    .content{
        width: 300px;
    }

    .action .subscribe .primary{
        background: pink;
    }
}


.price-wrapper {
    span{
        font-weight: bold;
        font-size: 200%;
    }
}
