<!--<div class="component-wrapper">-->
<!--    <div class="field">-->
<!--        <label class="label" for="email"><span data-bind="i18n: 'Tạo người dùng mới'"></span></label>-->
<!--        <div class="control">-->
<!--            <input name="customername"-->
<!--                   id="customername"-->
<!--                   type="text"-->
<!--                   class="input-text"-->
<!--                   data-bind="value: customerData">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="primary">-->
<!--        <button type="button" class="action action-login secondary" data-bind="click: addNewCustomer">-->
<!--            <span data-bind="i18n: 'Lưu'"></span>-->
<!--        </button>-->
<!--    </div>-->

<!--    <div class="customer-list" style="width: 20%;background: #eee;margin-top: 10px;" data-bind="foreach: customerName">-->
<!--        <li data-bind="text: name"></li>-->
<!--    </div>-->
<!--</div>-->


<form id="form">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="John" data-bind="value: nameData"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" value="21000" data-bind="value: priceData"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" value="Đẹp" data-bind="value: desData"><br>
    <label for="link">Link Img:</label><br>
    <input type="text" id="link" name="link" data-bind="value: linkData"><br><br>
    <button data-bind="click: addNewCustomer">submit</button>
    <p></p>
</form>
<div id="check"></div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Link Img</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: Data">
        <tr>
            <td data-bind="text:name "></td>
            <td data-bind="text:price "></td>
            <td data-bind="text:des "></td>
            <td data-bind="text:link "></td>
            <td><a href="#" data-bind="click: $parent.removeSeat.bind($parent)">delete</a></td>
        </tr>
    </tbody>
</table>
