<div class="actions">
    <button
            class="action primary tocart"
            id="product-addtocart-button" disabled>
        <span>Contact for sale price</span>
    </button>
</div>
<br><br>
<!--<button>hihi</button>-->
