<?php
?>

<small class="copyright" style="">
    <span  class="right_copy">© AWESOME A MAGENTO THEME BY RED FACTORY .ALL RIGHTS RESERVED</span>
    <span  class="left_copy">
        <?php
        echo $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('copy_left')
            ->toHtml();
        ?>
    </span>
</small>

