
<form id="form">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="John"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" value="21000"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" value="Đẹp"><br>
    <label for="link">Link Img:</label><br>
    <input type="text" id="link" name="link"><br><br>
    <button>submit</button>
    <p></p>
</form>
<div id="check"></div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Link Img</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="myTable">

    </tbody>
</table>

<script type="text/x-magento-init">
    {
        "*": {
            "widgetJs": {
                "a":"1"
            }
        }
    }
</script>
