<?php
/**
 * Product list template
 *
 * @var \Magento\Framework\Escaper $escaper
 */

?>
$escaper->escapeHtml($block->getData('page_content'))
<h1><?= $escaper->escapeHtml($block->getTitle()); ?></h1>
<h1>Name: <?= $escaper->escapeHtml($block->getName()); ?></h1>
<br>
<h1>Dob: <?= $escaper->escapeHtml($block->getDob()); ?></h1>
<br>
<h1>Address: <?= $escaper->escapeHtml($block->getAdd()); ?></h1>
<br>
<h1>Description: <?= $escaper->escapeHtml($block->getDes()); ?></h1>
<br>
